#main-nav {
    background-color: pink;
}

#main-nav li {
    list-style-type: none;
}

.hide-small {
    display: none;
}

/* Media Query */
@media only screen and (min-width: 760px) {
    .hide-small {
        display: flex;
    }
}